body {
    background-color: wheat;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
a:link {
    color: rebeccapurple;
    font-weight: bold;
    font-size: 1.125rem;
    white-space: nowrap;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
a:hover {
    background-color: lightyellow;
}
a:visited {
    color: rgb(46, 8, 152);
}

.nav-links:link {
    color:orange;
}

.nav-links:hover {
    color:lightblue
}

html {
scroll-behavior: smooth;
}